/* index.css */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  overflow-x: auto;
}

h4 {
  padding: 20px;
  text-align: center;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  padding: 1em;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: auto; /* Permite a las columnas adaptarse al contenido */
  background-color: #f9f9f9;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #4284b3;
  color: white;
}

td {
  white-space: nowrap; /* Mantiene las celdas en una línea para que no se reduzcan demasiado */
  overflow: hidden;
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.btn {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-top: 20px;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
}

.btn-danger:hover {
  color: #9e0101;
  box-shadow: 0 0 15px 5px rgba(158, 1, 1, 0.6);
}

.resumen {
  max-height: 10em;
  max-width: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.resumen:hover {
  color: blue;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  .table th,
  .table td {
    white-space: nowrap; /* Permite el desplazamiento horizontal */
  }
}

@media (min-width: 1200px) {
  .contenedor {
    width: 95% !important;
  }
}
