/* index.css */
.home{
  position: relative;
}

.nav {
  position: relative;
  width: 100%;
  
}
.titulo,
h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #4f8aba;
  margin-bottom: 20px;
}

.descripcion {
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  padding: 0 5rem;
}
h4 {
  font-weight: 600;
  color: #4f8aba;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-password {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 100;
  border-radius: 20px;
  color: darkgray;
  background-color: gray;

}
.btn-logout{
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #00fffc, transparent);
  transform: translateX(-100%);
  transition: transform 0.8s ease;
}

.btn:hover::before {
  transform: translateX(100%);
}
.btn-logout:hover {
  color: #9e0101;
  box-shadow: 0 0 15px 5px #9e0101;
}

/* animacion boton cambio de contraseña */
.btn-password {
  position: relative;
}

.fa-user-gear {
  transition: opacity 0.3s ease;
}

.hover-text-password {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-password.hover .fa-user-gear {
  opacity: 0; /* Oculta el ícono */
}

.btn-password.hover .hover-text-password {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}


/* animacion boton de carga de alumnos */
.btn-carga {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-user-plus {
  transition: opacity 0.3s ease;
}

.hover-text-carga {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-carga.hover .fa-user-plus {
  opacity: 0; /* Oculta el ícono */
}

.btn-carga.hover .hover-text-carga {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}
 
/* animacion boton de lista de alumnos */
.btn-lista {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-users {
  transition: opacity 0.3s ease;
}

.hover-text-lista {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-lista.hover .fa-users {
  opacity: 0; /* Oculta el ícono */
}

.btn-lista.hover .hover-text-lista {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}

/* animacion boton de carga de usuario */
.btn-carga-user {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-user-tie {
  transition: opacity 0.3s ease;
}

.hover-text-carga-user {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-carga-user.hover .fa-user-tie {
  opacity: 0; /* Oculta el ícono */
}

.btn-carga-user.hover .hover-text-carga-user {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}


/* animacion boton de lista de usuarios */
.btn-carga-userlist {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-users-viewfinder {
  transition: opacity 0.3s ease;
  
}

.hover-text-userlist {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-carga-userlist.hover .fa-users-viewfinder {
  opacity: 0; /* Oculta el ícono */
}

.btn-carga-userlist.hover .hover-text-userlist {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}


/* animacion boton de carga de usuario */
.btn-newinvoice {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-file-invoice-dollar {
  transition: opacity 0.3s ease;
}

.hover-text-newinvoice {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-newinvoice.hover .fa-file-invoice-dollar {
  opacity: 0; /* Oculta el ícono */
}

.btn-newinvoice.hover .hover-text-newinvoice {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}

/* animacion boton de lista de pagos */
.btn-invoicelist {
  display: flex;
  align-items: center;
  position: relative;
}

.fa-receipt {
  transition: opacity 0.3s ease;
}

.hover-text-invoicelist {
  display: none;
  transition: opacity 0.3s ease;
}

.btn-invoicelist.hover .fa-receipt {
  opacity: 0; /* Oculta el ícono */
}

.btn-invoicelist.hover .hover-text-invoicelist {
  display: inline-block;
  opacity: 1; /* Muestra el texto */
}


.modal-dialog {
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 400px;
  max-height: 400px;
}
@media screen and (max-width: 420px) {
  .nav {
    display: ruby;
    padding: 1rem;
  }
  img {
    width: 15%;
  }
  .descripcion {
    padding: 0 1rem;
  }
  ul {
    flex-wrap: wrap;
  }
  .btn {
    margin: 0.5rem 0;
  }
}
