/* index.css */
.contenedor-carga {
    width: 100%;
    margin: auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  input,
  select,
  textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  
  h4 {
    padding: 20px;
  }
  
  .btn {
    width: auto;
    height: 50px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin: 25px;
    overflow: hidden;
    position: relative;
    background-color: #4f8aba;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  @media (min-width: 768px) {
    .contenedor {
      width: 80%; 
    }
  }
  
  @media (min-width: 992px) {
    .contenedor {
      width: 70%;
    }
  }
  
  @media (min-width: 1200px) {
    .contenedor {
      width: 60%;
    }
  }
  